# OS/editor
.DS_Store
Thumbs.db
*.log
.env
.vscode/
.idea/
*.code-workspace

# Archives & binaries
*.zip
*.7z
*.tar
*.gz
*.exe# Jupyter
.ipynb_checkpoints/

ColabNoteBooks/Trails/Folium_Interactive_Representation


desktop.ini

